@import 'reset';

$font-stack:    Helvetica, sans-serif;
$primary-color: #d3a91f;
$font-color: #000;
$width: 100%;
$space:10px;

body {
  font: 100% $font-stack;
  color: $primary-color;

}
ul{
  list-style: none;
  li{
  margin: 0;
  display: inline;
    a{text-decoration: none;
    color:$primary-color;
      &:hover{
      text-decoration: underline;
      }
    }
  }
}

main{
  width: $width * .9;
  margin: 0 auto;
    background: lighten($primary-color, 10%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:$space;
    padding: $space;
}
div{
  background: grayscale($primary-color);
  padding: $space/2;
}
.myContainers{
    @extend div;
    color: $font-color;
   
}
footer{
  @extend div;
  padding: $space*2;
  margin-top: $space*2;
}